<?xml version="1.0" ?>
<robot name="ring_final_red" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find ring_final_red_description)/urdf/materials.xacro" />
<xacro:include filename="$(find ring_final_red_description)/urdf/ring_final_red.trans" />
<xacro:include filename="$(find ring_final_red_description)/urdf/ring_final_red.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="0.5650353454425836"/>
    <inertia ixx="0.003473" iyy="0.006927" izz="0.003473" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ring_final_red_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ring_final_red_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
