<?xml version="1.0" ?>
<robot name="urdf_full_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find urdf_full_base_description)/urdf/materials.xacro" />
<xacro:include filename="$(find urdf_full_base_description)/urdf/urdf_full_base.trans" />
<xacro:include filename="$(find urdf_full_base_description)/urdf/urdf_full_base.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.005 0.0" rpy="0 0 0"/>
    <mass value="11303.999999999998"/>
    <inertia ixx="135648.0942" iyy="271296.0" izz="135648.0942" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_full_base_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_full_base_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
